Repository zourdycodes/hulu-frontend-analysis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js, jsx}": "eslint --cache --fix",
  "*.{js,css,md,jsx}": "prettier --write"
}

:construction: structural change on-development and rendering logo
  .eslintcache
  .eslintrc.json
  components/Header/index.jsx
  components/index.js
  next.config.js
  pages/_app.js
  pages/index.js
  styles/global.css
Due: eslint --cache --fix, prettier --write

:triangular_flag_on_post: in-making of header component -> rendering the sub-component
  .eslintcache
  components/Header/index.jsx
  components/HeaderItem/index.jsx
  components/index.js
  devData/navigation.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

:art: cleaning up building the sub-component of header
  .eslintcache
  components/Header/index.jsx
Due: prettier --write

:fire: almost done building the featured movies tags components
  components/NavBar/index.jsx
  components/index.js
  package.json
  pages/index.js
  tailwind.config.js
  utils/requests.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

:pushpin: done building the tag featured components
  .eslintcache
  components/NavBar/index.jsx
Due: prettier --write

:building_construction: preparing the data from the server
  components/MovieCard/index.jsx
  components/Results/index.jsx
  components/index.js
  pages/index.js
Due: eslint --cache --fix, prettier --write

:beers: building the moviecard components done
  .eslintcache
  .eslintrc.json
  components/MovieCard/index.jsx
  components/Results/index.jsx
  components/index.js
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

:white_check_mark: done the project
  .eslintcache
  components/Results/index.jsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

:rocket: finished and readty to abroad
  .eslintcache
  .eslintrc.json
  components/MovieCard/index.jsx
  components/Results/index.jsx
  package.json
  yarn.lock
Due: prettier --write

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none
